// mixin
@mixin absolute($top: null, $right: null, $bottom: null, $left: null) {
	position: absolute;
	top: $top;
	right: $right;
	left: $left;
	bottom: $bottom;
}

@mixin clearfix {
	*zoom: 1;

	&:after {
			content : "";
			display: block;
			clear: both;
	}
}

@mixin ir ($background: null) {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	@if($background) {
			background: url($dir+$background) no-repeat;
	}
}

@mixin square ($value) {
	width: $value;
	height: $value;
}

@mixin bgSection ($file, $top: 0, $bottom: 0) {
	&:before {
			@include absolute($top: $top, $bottom: $bottom, $left: 0);
			content: "";
			width: 99.99%;
			background:url($dir+$file) center top no-repeat;
			padding-left: 0.01%;
	}
}

@mixin bgImg ($file, $position: 0 0) {
	background: url($dir+$file) $position no-repeat;
}
